---
import { about } from '../locales/es/common.json';
---
<section class="w-full bg-cover bg-center flex items-center justify-center relative">
  <div class="absolute top-0 left-0 w-full h-1/2 bg-black z-0"></div>
  <div class="max-w-6xl mx-4 sm:mx-8 text-center justify-center flex mt-10 mb-10 z-10">
    <div class="flex flex-col gap-20 justify-center items-center">
      <div class="flex flex-col md:flex-row gap-4 justify-center items-center">
        <div class="w-full md:w-1/2 text-wrap text-gray-400 sm:px-20 py-6">
          <h3>{about.info.description}</h3>
          <p class="font-bold">¿Quieres conocer más sobre nuestra historia?</p>
        </div>
        <video controls preload="none" poster={about.info.image} class="w-full md:w-1/2">
          <source src={about.info.material} type="video/webm" />
          Tu navegador no soporta el formato de video WebM.
        </video>
      </div>
      <div class="flex flex-col md:flex-row gap-4 justify-center items-center">
        <img src={about.sentence.material} alt={about.sentence.description} class="w-full md:w-1/2 aspect-video" />
        <div class="w-full md:w-1/2 text-gray-400 py-10 flex flex-col justify-center items-center">
          <h3 class="font-bold">{about.sentence.description}</h3>
          <p>{about.sentence.subparagraph}</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
